{% load static %}
<div class="footer_up">
    <div class="section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="reno_foot_content">
                    <img src="{% static 'img/reno_logo.png' %}" alt="Reno Logo">
                    <p>You are not required to travel all the way to the offices nor are you required to write messages manually on forms. </p>
                    <p class="foot_he"><b>Book your newspaper advertisement at lowest price</b></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="foot_up_sec">
                    <h2>COMPANY</h2>
                    <ul>
                        <li><a href="/about/"><i class="fas fa-angle-right"></i> About us</a></li>
                        <li><a href="/blog/"><i class="fas fa-angle-right"></i> Our Blog</a></li>
                        <li><a href="/career/"><i class="fas fa-angle-right"></i> Career</a></li>
                        <li><a href="/terms/"><i class="fas fa-angle-right"></i> Terms & Condition</a></li>
                        <li><a href="/contact/"><i class="fas fa-angle-right"></i> Contact us</a></li>
                        <li><a href="/quick/pay/"><i class="fas fa-angle-right"></i> Quick Pay</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="foot_up_sec">
                    <h2>NEED HELP</h2>
                    <ul>
                        <li><a href="/book/"><i class="fas fa-angle-right"></i> How to Book</a></li>
                        <li><a href="/privacy/"><i class="fas fa-angle-right"></i>	Privacy Policy</a></li>
                        <li><a href="/cancellation/"><i class="fas fa-angle-right"></i>	Cancellation & Refund</a></li>
                        <li><a href="/feedback/"><i class="fas fa-angle-right"></i>	Feedback / Complaints</a></li>
                        <li><a href="/e-paper/"><i class="fas fa-angle-right"></i>	E-papers</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="foot_up_sec">
                    <h2>Recent Post</h2>
                    <ul>
                        <li><a href="javascript:;"><i class="fas fa-angle-right"></i> Focus on creativity</a></li>
                        <li><a href="javascript:;"><i class="fas fa-angle-right"></i>	Build your own website easily</a></li>
                        <li><a href="javascript:;"><i class="fas fa-angle-right"></i>	Awesome and Universal Theme</a></li>
                        <li><a href="javascript:;"><i class="fas fa-angle-right"></i>	Latest WordPress News</a></li>
                        <li><a href="javascript:;"><i class="fas fa-angle-right"></i>	Build your own website easily</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="footer_bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="copyright">
                    <p>&copy; 2019 Copyright By <b>Reno Advertisment.</b>All rights reserved.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="quick_links">
                    <ul>
                        <li><a href="/feeback/">Feedback</a></li>
                        <li><a href="javascript:;">Sitemap</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>