{% load static %}
<div class="top_bar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="contact_details">
                    <p>For more info call: <b><a href="tel:9891799900">9891799922</a>,<!--  <a href="tel:0120-4306767">0120-4306767</a>--> </b>or write on email: <a href="mailto:booking@renoad.com"><b>booking@renoad.com</b></a></p> 
                </div>
            </div>
            <div class="col-md-6">
                <div class="social_top">
                    <ul>
                        <li><a title="facebook" href="https://www.facebook.com/profile.php?id=100019489926371" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a title="linkedin" href="https://www.linkedin.com/in/reno-advertisement-1a2a33146/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a title="instagram" href="https://www.instagram.com/reno_advertisement/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a title="twitter" target="_blank" href="https://twitter.com/renoadvertisem1"><i class="fab fa-twitter"></i></a></li>
                        <li><a title="google map" href="https://www.google.com/maps/dir//A+SQUARE+NOIDA+SECTOR+73/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x390cefa9334733cb:0x8cd756bc78cda442?sa=X&ved=2ahUKEwj9mfPfyNXiAhULK48KHbqjBs8Q9RcwC3oECA4QDg" target="_blank"><i class="fas fa-map-pin"></i></a></li>
                        <li class="web_dis"><a title="whatsapp" href="https://web.whatsapp.com/send?phone=919891299922&text=Hi%20Team%20Reno!%20I%20Need%20Help%20With..." target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                        <li class="mob_dis"><a title="whatsapp" href="whatsapp://send?phone=919891299922&text=Hi%20Team%20Reno!%20I%20Need%20Help%20With..." target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                    </ul>
                </div>
                <div class="book_button">
                    <!-- <a href="javascript:;" class="btn btn-primary">Book Your Ad</a> -->
                    <a href="/quick/pay/" class="btn btn-primary">Quick Pay</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="header">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <a class="navbar-brand" href="/"><img src="{% static 'img/reno_logo.png' %}" alt="Reno Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Top Newspapers
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">AAJ</a>
                    <a class="dropdown-item" href="#">Amar Ujala</a>
                    <a class="dropdown-item" href="#">Dainik Bhaskar</a>
                    <a class="dropdown-item" href="#">Hindustan Times</a>
                    <a class="dropdown-item" href="#">The Indian Express</a>
                    <a class="dropdown-item" href="#">The Times of India</a>
                    <a class="dropdown-item" href="/newspaper/">Show All Newspapers</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/category/">Categories</a>
            </li>

            <!-- <li class="nav-item">
            <a class="nav-link" href="#">Radio</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Cinema</a>
            </li> -->

            <li class="nav-item">
                <a class="nav-link" href="#">Magazine</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Lift Media</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Television</a>
            </li>

            <li class="nav-item">
                    <a class="nav-link" href="/contact/">Contact</a>
            </li>
            
          </ul>
          
        </div>
      </nav>
</div>