{% extends 'base/base.html' %}
{% load static %}
{% block head %}
    <link href="{% static 'css/newspaper_details.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="all_banner">
    <div class="all_banner_inside">
        <div class="container">
            <div class="banner_form">
                <div class="col-md-5">
                <h1 class="secondary_heading text_white">NRI Legal Services</h1>
                <p class="text_white">Get Legal Advice Anywhere In India From Abroad!</p>
                <form>
                    <div class="form-group">
                      <input type="text" placeholder="Name" class="form-control" id="" aria-describedby="">
                      
                    </div>
                    <div class="form-group">
                      <input type="text" placeholder="Number" class="form-control" id="">
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Connect Now</button>
                    <p><small>Submit your details to begin now.</small></p>
                  </form>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="newspaper_details">
            <h2 class="content_heading">Book Matrimonial ad in Dainik Jagran, Times of India, Hindustan Times & Amar Ujala Newspaper</h2>
            <p>Marriage is an elaborately celebrated tradition of India. Its sanctity is a highly regarded virtue. In India, marriage is not just a union of two individuals, but also a union of two families. Therefore, a lot of planning and preparation is done for the big day. It's the 21st century, and love marriages have found widespread acceptance. However, arranged marriage still has not ceased to exist. Indian parents are always concerned about selecting the ideal partner for their children. And finding the right partner is no mean feat. Even in times of internet, there are many who do not fully trust the online matrimonial portals and instead prefer finding the right partner from their traditional source of information i.e. the newspaper. This is why matrimonial classifieds still have not lost their touch.</p>
            <p>Matrimonial advertisement section is one of the most popular advertising categories. matrimonial ad in newspaper are primarily of two kinds, namely, wanted groom and wanted bride. The brides-to-be and their families advertise under the wanted groom section while the grooms-to-be and their families advertise under the wanted bride section. These marriage ads are further categorized on the basis of language preferences, profession, and physical characteristics. Such specifications help invite only the most relevant and apt responses.</p>
            <p>Look for the perfect bride or groom for your loved ones by releasing a Matrimonial ad Hindustan Times , Dainik Jagran, , Times of India, Amar Ujala and many more leading newspapers. For instance, The Times of India matrimonial ad is a popular option among many. Even in times of internet, people depend more on their primary source of information i.e. the newspaper. This is why taking out a marriage ad in a</p>
        </div>
    </div>
</div>


{% endblock %}
{% block js %}{% endblock %}